body {
  background-color: black;
  color: white;
  padding: 2% 5%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  margin: 0 auto;
  height: 100vh;
}

button {
  margin: .5rem;
}